body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}  

.home {
    margin: 0 auto;
    width: 100%;
}

.headerImg {
  background: url('../header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: calc(100vh - 80px);
  background-attachment: fixed;
}

/* text-align: center;
margin-right: 30%;
font-size: 68px;
position: absolute;
top: 218px;
left: 70px; */